$flexContainer: 100%;

.footer__area {
    margin-top: auto;
    background:linear-gradient(to bottom, #9b7550, #ec9961) ;
    background-repeat: none;
    width: $flexContainer;
    display: flex;
    
    .footer__container{
        display: flex;
        width: $flexContainer;
        align-items: flex-start;
        flex-direction: row;
        .footer__redes {
            width: ($flexContainer/2);
            text-align: right;
            justify-content:space-between;
            margin: 5px;
            padding-right: 20px;
            .footer__redes--icons{
                padding: 5px;
                margin: 5px;
                a {
                    color: #f2ebdf;
                }
                a:hover{
                    color: #705336;
                    transition: 0.2s;
                }
            }
        }
        
        .footer__subscribe {
            width: ($flexContainer/2);
            margin-top: 20px;
            margin-left: 10px;
            
        }
    }
}
footer{
    .footer__copyright {
        display: flex;
        justify-content: center;
        align-self: center;
        background:linear-gradient(to top, #9b7550, #ec9961);
        padding: 5px;

        a{
            text-decoration: none;
            color: #181515;
            font-weight: 600;
        }
        
    }

}

@media screen and (max-width: 768px) {
    .footer__area{
        display: flex;
        justify-content: center;
        //align-items: center;
        .footer__container{
            .footer__subscribe {
                display: none;
            }
            .footer__redes{
                width: $flexContainer*2;
                text-align: center;
                justify-content:center;
                .footer__redes--icons{
                    width: $flexContainer;
                    align-self: center;
                }
            }
        }
    }
}
@media screen and (max-width: 560px){
    footer{
        .footer__copyright{
            p{
                font-size: 14px;
            }

        }
    
    }

}
@media screen and (max-width: 320px){
    footer{
        .footer__copyright{
            p{
                font-size: 12px;
            }

        }
    
    }

}

    