@import 'header';
@import 'footer';
@import 'contact';
@import 'gallery';


//variables
$flexList: 50%;
$font-sizes:(
   h1:48px,
   h2:36px,
   h3:24px,
   p:18px
);




*{
    margin: 0;
	padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-size:cover;
    background-color:  #f2ebdf;
    
}
.boton{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #9b7550;
    border-radius: 5%;
    padding: 5px 10px;
    margin-bottom: 20px;
    .boton:hover{
        background-color: #7a5a3a;
    }
}

//carousel bootstrap
.slide img {
    height: 70vh;
}
.carousel-img {
    height: auto;
}
.carousel-inner{
    h5{
        font-size: 40px;
    }
    p{
        font-size: 25px;
    }
}
//header bootstrap
.bg-light-new{
    background-color:  #9b7550;
}
.nav-item{
    .nav-link{
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
    }
}

p {
    color: black;
    font-family: 'Noto Sans SC', sans-serif;
    font-weight: 300;
    letter-spacing: 1.6;
    line-height: 1.6;
}

//customiza tu vela 

.custom__flex {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.select__button {
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    box-shadow: none;
}

.container__custom {
    width: 100%;
    height: 70vh;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    .custom__paper{
        max-width: 300px;
        background: #f5f2ee;
        border-radius: 5px;
        box-shadow: 0px 5px 12px -6px rgba(0, 0, 0, 0.4);
        padding: 20px;
        position: relative;
        .custom__paper--title{
            margin-bottom: 20px;
            font-size: 18px;
            padding-bottom: 12px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        }
        .hidebx{
            display: none;
        }
        form{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            .lbl-radio{
                text-align: center;
                box-shadow: 0px 4px 12px -4px rgba(0, 0, 0, 0.35);
                padding: 20px;
                border: 1px solid #fff;
                border-radius: 10px;
                cursor: pointer;
                transition: all 0.3s ease-in;
                .display-box{
                    .description{
                        font-size: 14px;
                        color: rgba(0, 0, 0, 0.5);
                    }
                }
            }
        }
    }
    .custom__paper:before{
        content: '';
        position: absolute;
        bottom: -50px;
        left:5%;
        width: 90%;
        height: 30px;
        background: rgba(0, 0, 0, 0.35);
        border-radius: 50%;
        filter: blur(10px);
    }
}
input[type=radio]:checked + .lbl-radio{
    border-color: #9b7550;
}
.container__btn{
    display: flex;
    justify-content: center;
    .custom__btn{
        text-decoration: none;
        background: #9b7550;
        color: #f2ebdf;
        margin: 20px;
        padding: 12px 14px;
        border-radius: 25px;
        text-transform: uppercase;
        font-size: 14px;
        transition: 0.4s;
    }
    a:hover{
        background: #5a3714;
    }
}


@media screen and (max-width: 550px){
    .container__custom{
        grid-template-columns: 1fr;
        height: auto;
    }
    .container__btn{
        margin-top: 30px;

        .custom__btn {
            margin-top: 50px;
        }
    }
    
}
@media screen and (min-width : 1380px){
    .custom__paper{
        min-width: 500px;
    }
}

//fin customiza tu vela 

span{
    color: black;
    font-family: 'Roboto', sans-serif;
}
div{
    &.multimedia{
        iframe{
        text-align: center;
        width: 100%;
        margin-top: 20px;
        }
    }
}
.titulo{
    text-align: center;
    color: rgb(162,118,82);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    padding-top: 30px;
    
}
//nosotros
div{
    ol{
        line-height: 1.8;
    }
}

.nosotros {
    text-align: center;
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #5a3714;
    .nosotros__text {
        align-self: center;
        margin-right: 30px;
        width: 50%;
        min-width: 300px;
    }
    .nosotros__image{
        margin-left: 30px;
        margin-right: 30px;
        width: 50%;
        flex: 1;
        img{
            border-radius: 5%;
        }
    }
}


//fin nosotros 



.card {
    background-color: #f2ebdf;
    margin-bottom: 10px;
    :hover{
        opacity: 0.8;
        transition: 0.5s;
    }
    img{
        min-height: 320px;
        max-height: 320px;
    }
    .card-body{
        .card-text{
            height: 180px;
        }
    }
    
}
.dropdown-menu{
    background-color: #9b7550;
    .dropdown-item:hover{
        background-color: #7a5a3a;
    }
}

.navbar-collapse {
    justify-content: end;
}
@each $tag, $size in $font-sizes{
    #{$tag} {
        font-size: $size;
    }
}
//
//error404
//
.body__error{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(125deg, #aa8764, #f2ebdf );
    .error__container {
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        color: #343434;
        
        h1{
            font-size: 200px;
            margin: 0;
            font-weight: 900;
            letter-spacing: 20px;
            background: url(../multimedia/bg7.jfif) center no-repeat;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            
            
        }
        .error__btn{
            text-decoration: none;
            background: #9b7550;
            color: #f2ebdf;
            padding: 12px 14px;
            display: inline-block;
            border-radius: 25px;
            font-size: 14px;
            text-transform: uppercase;
            transition: 0.4s;
            margin-top: 20px;

        }
        a:hover{
            background: #5a3714;
        }
    }
}
@media screen and (max-width: 440px){
    .body__error{
        height: auto;
        .error__container{
            h1{
                font-size: 120px;
            }
        }
    }
}

//fin página error 404//

//boton mercadopago
button.mercadopago-button {
    background-color: #9b7550;
    color: #f2ebdf;
    border: 1px solid #9b7550;
    border-radius: 25px;
    padding: 2px 30px;
    font-size: 14px;
    text-transform: uppercase;
  }